{{#paper-card}}
  {{#paper-card-content}}
    <h2>Add a new category</h2>
    {{paper-input label="Name" value=name}}
    {{#paper-button raised=true action="saveCategory"}}Add New Category{{/paper-button}}
  {{/paper-card-content}}
{{/paper-card}}
