{{#paper-card}}
  {{#paper-card-content}}
    <h2>{{question.question}}</h2>
  {{/paper-card-content}}
  <div class="md-actions" layout="row" layout-align="end center">
    {{#paper-button}}Action 1{{/paper-button}}
    {{#paper-button}}Action 2{{/paper-button}}
  </div>
{{/paper-card}}
