{{#paper-card}}
  <img src="http://lorempixel.com/800/400/nature/" alt="" />
  {{#paper-card-content}}
    <h1>About Us</h1>
    {{paper-divider inset=true}}
    <p>
      North Westy is a site dedicated to letting users post questions about outdoor life in the Pacific Northwest. Various future features hoping to be added include:
      <li> Categories </li>
      <li> Post and Comment Rating </li>
      <li> Question Sorting by date, rating, etc. </li>
    </p>
    {{paper-divider inset=true}}
    <h2>Contact</h2>
    <h4>Email: nwesty@northwesty.com</h4>
    <h4>Phone: 503-555-5555</h4>

  {{/paper-card-content}}
{{/paper-card}}
